body{
	background-color: #F0F0F0;
	text-align: center;
}
#title{
	font-size: 2.5em;
	margin:0.5em auto;
	letter-spacing:0.02em;
}
p{
	font-size: 1.2em;
	font-weight: 100;
}
img{
	max-width: 100%;
	height: auto;
}
#img-div{
	background-color: white;
	padding:1.5em;
	margin: 1em;
}
#img-caption{
	font-size: 1.1em;
	font-weight: 100;
}
#headline{
	margin:2em;
	font-size: 1.5em
}
ul{
	margin: 0 auto;
	max-width: 530px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
li{
	display: list-item;
	margin: 16px 0;
	font-size: 1.1em;
	text-align: initial;
	flex-wrap: wrap;
}
blockquote{
	margin: 0 auto;
	max-width: 500px;
	display: flex;
	font-size: 0.9em;
	flex-direction: column;
	text-align: initial;
	align-items: flex-start;
	font-style: italic;
	text-align: justify;
}
h3{
	margin: 3em auto;
	font-size: 1.3em;
}
#tribute-link{
	color:#3366CC;
}